@use 'variables';

// theme, colors, typography, and at least 5 atoms

h1,
h2,
h3{
  font-family: variables.$fonts-headline;

}
h2{
  color: variables.$accent2;
}
h1{
  font-size: 5rem;
  color: variables.$text-light;
  text-transform: uppercase;
}

header{
  background-color: variables.$primary;
}

body{
  font-family: variables.$fonts-body;
  margin: 0px;
  padding: 0px;
}
