@use 'variables';
@use 'atoms';


.main{
  h3{
    font-size: clamp(3vw, 5vw, 7vw);
    color: variables.$primary;
    background-image: linear-gradient(to right, variables.$accent2, variables.$accent1);
    text-align: right;
    padding: 5px;
  }
  div{
    background-color: variables.$primary;
    a{color: variables.$primary;}
  }
  p {color: variables.$text-light;}
}

.page-wrapper { 
  display: flex;
  flex-direction: row;
}

.page-wrapper > *{
width: 100vw;
height: 100vh;
padding: 0px 5px;
margin: 0px 5px;
background-color: tan;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include variables.largeView(){
    flex-direction: row;
  }
  > div{
    background-image: linear-gradient(to right, variables.$accent2, variables.$accent1);
    border: 2px solid white;
    border-radius: 20px;
    padding: 1rem;
  }
  .design-archives{
    order: 2;
    @include variables.largeView(){
      order: -1;
    }
  }
}


