@use 'variables';
@use 'molecules';


.page-wrapper { 

	display: flex;
	flex-direction: row;
	width: 300vw;
}

.page-wrapper > *{
	width: 100vw;
	height: 100vh;
	
	background-color: tan;
}

@if molecules.$show-first-third{
    .intro{
        @include molecules.fade-in();
    }

    .sidebar{
        @include molecules.fade-in();
    }
    #zen-supporting{
        @include molecules.fade-out();
    }
}