@import url('https://fonts.googleapis.com/css2?family=Merriweather:slnt,wght,CASL,CRSV,MONO@-15..0,300..900,0..1,0..1,0..1&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Merriweather:slnt,wght,CASL,CRSV,MONO@-15..0,300..900,0..1,0..1,0..1&display=swap');






$fonts-headline: 'Merriweather', serif;
$fonts-body:  'helvetica', sans-serif;
$background-color: #daede2;
$primary: #102634;
$accent1: #90564a;
$accent2: #a99e8c;
$text-dark: #333;
$text-light: #fff;


$break-large: 900px;


@mixin largeView() {
  @media (min-width: $break-large) { @content; }
}   
