@import url("https://fonts.googleapis.com/css2?family=Merriweather:slnt,wght,CASL,CRSV,MONO@-15..0,300..900,0..1,0..1,0..1&display=swap");
body {
  font-family: "helvetica", sans-serif;
  margin: 0px;
  padding: 5px;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h2 {
  color: #a99e8c;
}

h1 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
}

.main h3 {
  font-size: 5vw;
  color: #102634;
  background-color: #90564a;
  text-align: right;
  padding: 5px;
}

.main div {
  background-color: #102634;
}

.main p {
  color: #fff;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
}

.page-wrapper > * {
  width: 100vw;
  height: 100vh;
  padding: 0px 5px;
  margin: 0px 5px;
  background-color: tan;
}

body {
  margin: 0;
  padding: 0;
}

#zen-intro {
  padding: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
}
#zen-intro > * {
  padding: 10px;
}
#zen-intro header {
  margin: 0px;
  grid-column: 1/span 2;
  max-height: 330px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
#zen-intro header h1 {
  grid-column: 1/span 2;
}
#zen-intro header h2 {
  grid-column: 2/span 1;
  text-align: center;
}
#zen-intro #zen-preamble {
  background-color: white;
  grid-column: 1/span 1;
  grid-row: 2/span 2;
  border: solid #102634;
  border-width: 0px 0px 2px 2px;
}

#zen-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#zen-summary p {
  grid-column: 1/span 4;
}

#zen-summary::after {
  content: url("arrow.svg");
  grid-column: 1/span 2;
  animation: move-right 2s 0s infinite;
}

@keyframes move-right {
  0% {
    grid-column: 1/span 1;
  }
  25% {
    grid-column: 2/span 1;
  }
  50% {
    grid-column: 3/span 1;
  }
  100% {
    grid-column: 4/span 2;
  }
}
header {
  background-color: #102634;
}

#outter-shield {
  fill: aqua;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 900px) {
  .wrapper {
    flex-direction: row;
  }
}
.wrapper > div {
  background-color: white;
  border: 2px solid #102634;
  padding: 1rem;
}
.wrapper .design-archives {
  order: 2;
}
@media (min-width: 900px) {
  .wrapper .design-archives {
    order: -1;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  width: 570vw;
}

.page-wrapper #zen-intro, .page-wrapper aside {
  width: 95vw;
  height: 95vh;
  margin: 0px auto;
  background-color: tan;
}
.page-wrapper #zen-supporting {
  width: 400vw;
  height: 95vh;
  margin: 0px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.page-wrapper #zen-supporting a {
  color: #a99e8c;
}
.page-wrapper #zen-supporting div {
  font-size: 1rem;
  margin: 0px 5px;
  padding: 5px;
  max-width: 95vw;
}
.page-wrapper #zen-supporting footer {
  display: none;
}

.sidebar {
  background-image: url("logo.svg");
  background-position: center;
  background-position-x: 25px;
  background-position-y: 25px;
}

/*# sourceMappingURL=style.css.map */
